header{
  //min-height: $header-height;
  min-height: 82px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  // box-shadow: 0 2px 5px $shadow;
  box-shadow: 0 2px 5px #0000004d;

  background-color: red;
  //border

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}