<div class="col-wd-12">
  <div class="col">
      <div class="row">
        <div *ngFor="let item of artists; index as i" class="col-wd-6 col-md-4 col-sm-2">
          <div class="col"><img class="media-image" src={{item?.artist?.avatar}} alt={{item?.artist?.name}}></div>
          <div class="col">{{item?.artist?.adamid}}</div>
          <div class="col">{{item?.artist?.name}}</div>
          <div class="col">{{item?.artist?.weburl}}</div>
        </div>
      </div>
  </div>
</div>
<div class="col-wd-12">
  <div class="col">
      <div class="row">
        <div *ngFor="let item of tracks; index as i; first as isFirst" class="col-wd-6 col-md-4 col-sm-2">
          <div class="col"><img class="media-image" src={{item?.track?.images?.coverart}} alt={{item?.track?.title}}></div>
          <div class="col"><a href="{{item?.track?.url}}">{{item?.track?.subtitle}}</a></div>
          <div class="col">{{item?.track?.title}}</div>
        </div>
      </div>
  </div>
</div>