<div class="col-wd-12">
  <div class="col">
      <div class="row">
        <div class="col-wd-12">

          <h2 class="title">Meus Favoritos</h2>
          <table class="table-favoraties">
            <tr>
              <!-- <th>id</th> -->
              <th>Data</th>
              <th>Estilo de Música</th>
              <th>Região</th>
              <th>Temperatura</th>
            </tr>
            <tr *ngFor="let item of favoritesList; index as it">
              <!-- <td>{{item.id}}</td> -->
             <td>{{item?.date}}</td>
             <td>{{item?.music}}</td>
             <td>{{item?.region}}</td>
             <td>{{item?.temp}}°</td>
             <td><button class="btn btn-primary" type="button" (click)="removeFavorites(favoritesList, item.id)">remover</button></td>
             <td><button class="btn btn-primary" type="button" (click)="viewFavorites(item)">Ver mais</button></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>