.home-container {
  padding: 30px 90px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.media-image {
  width: 100%;
  display: block;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-group {
  justify-content: flex-start;
  width: 30%;
  max-width: 350px;

  label {
    padding-right: 10px;
    font-size: 16px;
    color: black;
  }

  input {
    width: 180px;
    height: 40px;
    margin: 10px 0;
  }
}

.btn {
  width: 100%;
  max-width: 250px;
  background: #ccc;
  border: 1px;
  padding: 10px;
  color: black;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}